
@{
    ViewBag.Title = "Video";
}

<h2>Video</h2>
<div class=" container center-block">
    <video id="video" class="dtm-video-element" preload="auto">
        <source src="~/Controllers/SampleController.cs" type="video/mp4" />
    </video>
</div>