@using Resources
@{
    /**/

    ViewBag.Title = "Welic";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

<!-- Inicio Carousel -->
<div class="slider">
    <ul class="slides">
        <li>
            <img src="~/Imagens/banners 01.png">
            <div class="caption left-align ">
                <h3 class="black-text">Webnars in Live!</h3>
                <h5 class="light  black-text text-lighten-3">Assita seus Webinars ao vivo em casa.</h5>
            </div>
        </li>
        <li>
            <img src="~/Imagens/banners 02.png">
            <div class="caption right-align black-text">
                <h3 class="black-text">Coaching On-Lines</h3>
                <h5 class="light black-text text-lighten-3">Busque alunos de qualquer lugar do mundo. </h5>
            </div>
        </li>
        <li>
            <img src="~/Imagens/banners 03.png">
            <div class="caption Rigth-align black-text">
                <h3 class="black-text">Videos on-lines</h3>
                <h5 class="light black-text text-lighten-3">Assita aquele webinar ou summit que perdeu.</h5>
            </div>
        </li>
    </ul>
</div>
<!-- Fim Carousel -->
<!-- Inicio da Agenda -->
<div class="container">
    <div class="section">
        <div class="container ">
            <h1 class="header center  black-text "> Agendas</h1>
            <div class="row center font-descricao-welic">
                <h5 class="header welic-laranja-text col s12 light ">Lançamento oficiais do Welic nas datas abaixo</h5>
            </div>
            <br>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s6 m3">
                <div class="icon-block">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"> <i class="material-icons right">more_vert</i></span>
                        <!-- Modal Structure -->
                        <div id="modalAgenda1" class="modal">
                            <div class="modal-content">
                                <h4 class="blue-text text-darken-1 center-align">Welic</h4>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">
                                    As mídias sociais são atualmente, fundamentais para o desenvolvimento de qualquer tipo de negócio. A utilização de marketing digital acelera o crescimento da sua empresa, o engajamento das pessoas com o seu negócio e isso aumenta as probabilidades de sucesso da sua empresa ou negócio digital.
                                    O Summit Digital: Social Media World ’18 é a primeira edição de um evento internacional único, que tem como objetivo mostra-lhe as tendências para o marketing digital moderno. Este fantástico evento, permitirá colocar em prática as técnicas e utilizar as ferramentas apresentadas logo após.
                                    É um evento que conta com a presença de oradores internacionais e de experiência comprovada em marketing digital.
                                </p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">Temáticasabordadas:</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">Dia 1 – 17.09.2018 – Mídias Sociais como fator dinamizador de empresas modernas</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">Dia 2 – 18.09.2018 – Técnicas para transformar a sua empresa ou negócio</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">Dia 3 – 19.09.2018 – Ferramentas que ajudam a impulsionar a sua empresa</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">O evento será gratuito porém, será cobrado um valor para usuários premium que desejarem rever o conteúdo mais tarde através da App Welic.</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-image">
                            <img src="~/Imagens/calendario-2018.png">

                            <a class="btn-floating halfway-fab waves-effect waves-light welic modal-trigger " href="#modalAgenda1"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title truncate">Social Media ‘18 - 17/09 a 19/09</span>


                        </div>


                    </div>

                </div>
            </div>

            <div class="col s6 m3">
                <div class="icon-block">
                    <!-- Card Content -->
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"> <i class="material-icons right">more_vert</i></span>
                        <!-- Modal Structure -->
                        <div id="modalAgenda2" class="modal">
                            <div class="modal-content">
                                <h4 class="blue-text text-darken-1 center-align">Agenda</h4>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">Com um crescimento exponencial a nível mundial, o e-Learning, é uma ferramenta considerada por muitas empresas e pessoas, essecial. A utilização de treinamento online ajuda em muito as empresas em capacitar os seus empregados e criar um engajamento entre a empresa e o colaborador. No entanto, técnicas de ensino à distância estão a mudar, para melhor, e fazendo cada vez mais uso da tecnologia existente. </p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">O Summit Digital: e-Learning World ’18 é a primeira edição de um evento internacional único, que tem como objetivo mostra-lhe as tendências para o ensino à distância moderno. Este fantástico evento, permitirá colocar em prática as técnicas e utilizar as ferramentas apresentadas logo após. É um evento que conta com a presença de oradores internacionais e de experiência comprovada em ensino à distância.</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">Temáticas abordadas:</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">Dia 1 – 24.09.2018 – O EAD como fator diferenciador no treinamento</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">Dia 2 – 25.09.2018 – Técnicas para ajudara sua empresa ou negócio com EAD</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">Dia 3 – 26.09.2018 – Ferramentas que ajudam a impulsionar a sua empresa já com EAD</p>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">O evento será gratuito porém, será cobrado um valor para usuários premium que desejarem rever o conteúdo mais tarde através da App Welic.</p>

                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <img src="~/Imagens/calendario-2018.png">
                            <a class="btn-floating halfway-fab waves-effect waves-light welic modal-trigger " href="#modalAgenda2"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title truncate">E-Learning ‘18 24/09 a 26/09</span>
                            @*<p>Summit: E-Learning World '18. Evento gratuito durante apresentação.</p>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s6 m3">
                <div class="icon-block">
                    <!-- Card Content -->
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"> <i class="material-icons right">more_vert</i></span>
                        <!-- Modal Structure -->
                        <div id="modalAgenda3" class="modal">
                            <div class="modal-content">
                                <h4 class="blue-text text-darken-1 center-align">Agenda</h4>
                                <p class="blue-text text-darken-1  accent-1 right-aligned ">
                                    Seminário presencial, utilização de tecnologias avançadas, suporte de grupo no facebook, utilização de vídeos e participação da assistência. Haverá dois tipos de inscrição NORMAL e PREMIUM, a inscrição PREMIUM oferecerá a esses participantes um melhor contato com os facilitadores da sessão, bem como uma sessão de networking no sábado à noite no hotel Luanda – Hotel Sun Shine, onde será o evento.
                                </p>
                                <h6 lass="blue-text text-darken-1  accent-1 right-aligned ">Local: Luanda – Hotel Sun Shine</h6>
                                <a id="logo-container" href="https://goo.gl/maps/YDyPtVakjvK2" class="brand-logo left-align" target="_blank"><i class="material-icons left-align">map</i>Rua Lar do Patriota s/nº, Zona 3, Talatona-benfica, Municipio de Belas, Luanda, Angola</a>

                                <br />
                                <h5 class="blue-text text-darken-1  accent-1 center-align">Programação:</h5>
                                <h6 class="blue-text text-darken-1  accent-1 right-aligned"><i class="material-icons prefix">announcement</i><u> 06/10 - Sábado Manhã: Bases do Negócio Digital do Século XXI</u></h6>
                                <div class="container">
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" class="small" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Quais os tipos de negócios online</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Marketing Online e Marketing Offline</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Networking Digital – As suas potencialidades</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Validação da idéia de negócio</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Checklist para idéia de negócio</label>
                                    </p>
                                </div>
                                <br />
                                <h6 class="blue-text text-darken-1  accent-1 right-aligned"><i class="material-icons prefix">announcement</i><u> 06/10 - Sábado Tarde: Ferramentas a utilizar</u></h6>
                                <div class="container">
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Linkedin</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Facebook / Instagram</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Chatbots</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Hosting/Server/Wordpress</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">RD Station</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Chat Online</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Email Listing – Procura de Emails para gerar listas de email</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Sistema Cloud</label>
                                    </p>
                                </div>
                                <br />
                                <h6 class="blue-text text-darken-1  accent-1 right-aligned"><i class="material-icons prefix">announcement</i><u> 07/10 Domingo Manhã: Estratégia Online</u></h6>
                                <div class="container">
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Validação da ideia de negócio II</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Definição de Marca e design</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Comunicação</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Marketing de Conteúdo e geração de valor aos clientes e lista</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Criar Valor – Por quê e as suas utilidades?</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Webinares e Podcasting</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Sessões lives</label>
                                    </p>
                                </div>
                                <br />
                                <h6 class="blue-text text-darken-1  accent-1 right-aligned"><i class="material-icons prefix">announcement</i><u> 07/10 Domingo Tarde: Sessão prática na qual os participantes irão iniciar os seus próprios negócios online</u></h6>
                                <div class="container">
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" class="center-align" />
                                        <label class="blue-text text-darken-1  accent-1 right-align" for="SItem1">Validação da Checklist para inicio de negócio digital</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Integração das ferramentas e estratégia</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Esclarecimentos de dúvidas individuais a todos os participantes</label>
                                    </p>
                                </div>
                                <br />
                                <h5 class="blue-text text-darken-1  accent-1 center-align">Objetivos do Seminário:</h5>
                                <p class="blue-text text-darken-1  accent-1 right-aligned"><u> No final do Seminário os participantes estarão aptos a: </u></p>
                                <div class="container">
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Identificar e validar ideias de negócio digital</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Criar marca digital e a sua presença online</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Criar e gerir ferramentas online</label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="SItem1" checked="checked" disabled="disabled" />
                                        <label class="blue-text text-darken-1  accent-1 right-aligned" for="SItem1">Começar a vender no máximo em 48 horas após passos dados</label>
                                    </p>
                                </div>
                                <br />
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <img src="~/Imagens/calendario-2018.png">
                            <a class="btn-floating halfway-fab waves-effect waves-light welic modal-trigger " href="#modalAgenda3"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title truncate">Social Media ‘18 06/10 e 07/10</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s6 m3">
                <div class="icon-block">
                    <!-- Card Content -->
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"> <i class="material-icons right">more_vert</i></span>
                        <!-- Modal Structure -->
                        <div id="modalAgenda4" class="modal">
                            <div class="modal-content">
                                <h4 class="blue-text text-darken-1 center-align">Agenda</h4>
                                <p class="blue-text text-darken-1  accent-1 right-aligned">A Definir... </p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <img src="~/Imagens/calendario-2018.png">

                            <a class="btn-floating halfway-fab waves-effect waves-light welic modal-trigger " href="#modalAgenda4"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title truncate">Social Media ‘18  Ainda Definindo.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fim da Agenda -->
