<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Api" value="a9c30e2a06f32da9bfeb1f2e4f0ea838" />    
    <!--REMOVER ANTES DE PUBLICAR A VERSAO-->
    <add key="Usuario-Padrao" value="lucasrr59@gmail.com" />
    <add key="Senha-Padrao" value="@Teste123" />
  </appSettings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>