/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.welic {
    background-color: #07c4f6;
}

.font-descricao-welic {
    font-family: 'Exo', sans-serif;
}

.welic-laranja-text{
    color:#F05923;    
}

.welic-azul {
    background-color: #053c63;
}

.opacity {
    background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .3;
    z-index: -10;
    font-size: 32px;
}

.opacity-1 {
    background: #26A65B;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .7;
}
.imgIcon {
    max-width: 20px;
    max-height: 15px;
    width: auto;
    height: auto;
}

.borderItens{
    border-width: 6px;
    border-style: dashed;
    border-color: #f00;
}
.card.small {
    height: 200px;
}

.card.medium {
    height: 300px;
}

.card.large {
    height: 400px;
}


.card.horizontal1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

    .card.horizontal1.small .card-image, .card.horizontal1.medium .card-image, .card.horizontal1.large .card-image {
        height: 50%;
        max-height: none;
        overflow: visible;
    }

        .card.horizontal1.small .card-image img, .card.horizontal1.medium .card-image img, .card.horizontal1.large .card-image img {
            height: 50%;
        }

    .card.horizontal1 .card-image {
        max-width: 25%;
    }

        .card.horizontal1 .card-image img {
            border-radius: 2px 0 0 2px;
            max-width: 50%;
            width: auto;
        }

    .card.horizontal1 .card-stacked {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        position: relative;
    }

        .card.horizontal1 .card-stacked .card-content {
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }