<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="EntitiesSGACadastrosBasicos" connectionString="metadata=res://*/ModelSGAC.csdl|res://*/ModelSGAC.ssdl|res://*/ModelSGAC.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=relnet;Password=xw93#$5a;Server=ACAD.WORLD;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesSGA" connectionString="metadata=res://*/ModelSGA.csdl|res://*/ModelSGA.ssdl|res://*/ModelSGA.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=relnet;Password=xw93#$5a;Server=ACAD.WORLD;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>