
@{
    ViewBag.Title = "LiveView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LiveView</h2>

<video id="video" class="video-container" preload="auto">
    <source src="api/Live" type="video/mp4"/>
</video>
