
@{
    ViewBag.Title = "Live";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Live</h2>

<video class="responsive-video" controls>
    <source src="~/Controllers/SampleController.cs" type="video/mp4">
</video>

