
<connectionStrings>
  <remove name="WelicDbContext"/>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Welic.WebSite-20180904083611.mdf;Initial Catalog=aspnet-Welic.WebSite-20180904083611;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  <add name="WelicDbContext" connectionString="Data Source=rdswelicdb.cuplnud1l3lw.us-east-1.rds.amazonaws.com,1433;          Initial Catalog=WBD_SML;          User Id=welicdb;          Password=Welic.aap.db;          MultipleActiveResultSets=False;          Connection Timeout=30;          " providerName="System.Data.SqlClient" />
  <!--<add name="WelicDbContext" connectionString="Data Source=LHAYATEVXASPIRE;Initial Catalog=WBD2;User Id=welic;Password=#EUsou1013121994;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
</connectionStrings>

