/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.welic {
    background-color: #07c4f6;
}

.font-descricao-welic {
    font-family: 'Exo', sans-serif;
}

.welic-laranja-text{
    color:#F05923;    
}

nav.Welic-laranja {
    background-color: #F58C1E;
}

.welic-azul {
    background-color: #053c63;
}

.welic-menu {
    color: linear-gradient( to bottom, #208CCC, #08446D);
}
.welic-azul-claro {
    background-color: #CDEEF6;
}
a.welic-Logo-click {
    background: url(~/Imagens/Logo_Welic.png) no-repeat top left;
    display: block;
    width: 150px;
    height: 150px;
    text-indent: -9999px; /* hides the link text */

}
.welic.container-login-register {
    background: rgba(0, 0, 0, 0.5);
}
.opacity {
    background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .9;
    z-index: -10;
    font-size: 32px;
}

.opacity-1 {
    background: #26A65B;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .7;
}
.imgIcon {
    max-width: 20px;
    max-height: 15px;
    width: auto;
    height: auto;
}

.borderItens{
    border-width: 6px;
    border-style: dashed;
    border-color: #f00;
}
.card.small {
    height: 200px;
}

.card.medium {
    height: 300px;
}

.card.large {
    height: 400px;
}


.card.horizontal1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

    .card.horizontal1.small .card-image, .card.horizontal1.medium .card-image, .card.horizontal1.large .card-image {
        height: 50%;
        max-height: none;
        overflow: visible;
    }

        .card.horizontal1.small .card-image img, .card.horizontal1.medium .card-image img, .card.horizontal1.large .card-image img {
            height: 50%;
        }

    .card.horizontal1 .card-image {
        max-width: 25%;
    }

        .card.horizontal1 .card-image img {
            border-radius: 2px 0 0 2px;
            max-width: 50%;
            width: auto;
        }

    .card.horizontal1 .card-stacked {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        position: relative;
    }

        .card.horizontal1 .card-stacked .card-content {
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }

body {
    background: #CDEEF6;
    color: #08446d;
    margin: 50px;
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: small;
    line-height: 180%;
    
}
p {
    text-indent: 3em;
    text-align: center;
    letter-spacing: 0.05em; 
    
}
    p.NoJustific {
        text-indent: 3em;
        text-align: center;
        letter-spacing: 0.05em;
    }

h4, h5  {
    color: #FF7F29;
    text-align: center;
}
h4.login-text{
    color: #ffffff;
    text-align: center;
}


h1 {
    color: #F9BB12;
}
a.buttonWelic {
    color: #FF7F29;
    background-color: #0C4F7B;    
}
.landing-bg {
    color: #ffffff;
    width: 100%;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    min-height: 90%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 90vh;
    /* These two lines are counted as one :-)       */
    height: 90vh;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* Safari */
    align-items: center;
    -webkit-align-items: center;
    /* Safari 7.0+ */
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.jumbotron {
    background-color: #eceff1;
}
header .navbar-form {
    margin-top: 7px;
    margin-bottom: 7px;
}
/* All form elements including input,select,textarea etc.-----------------------------------------------------------------*/
.form-control {
    border-width: 1px;
    background: #fff;
    border-radius: 3px;
    box-shadow: none;
}
.form-control:focus {
    border-color: #F1F1F3 !important;
    box-shadow: none;
    border-width: 1px;
}
.form-group.has-success label {
    color: #00a65a;
}
.form-group.has-success .form-control {
    border-color: #00a65a !important;
    box-shadow: none;
}
.form-group.has-warning label {
    color: #f39c12;
}
.form-group.has-warning .form-control {
    border-color: #f39c12 !important;
    box-shadow: none;
}
.form-group.has-error label {
    color: #f56954;
}
.form-group.has-error .form-control {
    border-color: #f56954 !important;
    box-shadow: none;
}
/* Input group */
.input-group .input-group-addon {
    border-radius: 0;
    background-color: #f4f4f4;
}
/* button groups */
.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type {
    border-radius: 0;
}
/* Checkbox and radio inputs */
.checkbox,
.radio {
    padding-left: 0;
}


.trans {
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
}

/* Component:Buttons-------------------------*/
.btn {
    font-weight: 500;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
    -webkit-transition: opacity 0.5s ease, background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease, background 0.5s ease;
    transition: opacity 0.5s ease, background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease, background 0.5s ease;
}

    .btn.btn-default {
        background-color: #eceff1;
        color: #50505f;
        border-color: #eceff1;
        border-bottom-color: #eceff1;
    }

        .btn.btn-default:hover,
        .btn.btn-default:active,
        .btn.btn-default.hover {
            background-color: #eceff1 !important;
        }

        .btn.btn-default.btn-flat {
            border-bottom-color: #d9dadc;
        }

    .btn.btn-primary {
        background-color: #2196f3;
        border-color: #2196f3;
    }

        .btn.btn-primary:hover,
        .btn.btn-primary:active,
        .btn.btn-primary.hover {
            background-color: #367fa9;
        }

    .btn.btn-success {
        background-color: #85BB59;
        border-color: #85BB59;
    }

        .btn.btn-success:hover,
        .btn.btn-success:active,
        .btn.btn-success.hover {
            background-color: #78B348;
        }

    .btn.btn-info {
        background-color: #60B8B8;
        border-color: #60B8B8;
    }

        .btn.btn-info:hover,
        .btn.btn-info:active,
        .btn.btn-info.hover {
            background-color: #38A6A6;
        }

    .btn.btn-danger {
        background-color: #f56954;
        border-color: #f4543c;
    }

        .btn.btn-danger:hover,
        .btn.btn-danger:active,
        .btn.btn-danger.hover {
            background-color: #f4543c;
        }

    .btn.btn-warning {
        background-color: #f39c12;
        border-color: #e08e0b;
    }

        .btn.btn-warning:hover,
        .btn.btn-warning:active,
        .btn.btn-warning.hover {
            background-color: #e08e0b;
        }

    .btn.btn-flat {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-width: 1px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
    }

    .btn:active {
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    .btn:focus {
        outline: none;
    }

    .btn.btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn.btn-file > input[type='file'] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

.testes {
    background-size:cover
}